{% load static %}
<!doctype html>
<html lang=en>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="m-2 display-4">Welcome to<img src="{% static "logo.png" %}"></img>(CrowdLec)!</h1>
                <p class="m-2 lead">Our team is striving to make learning accessible for all.
                    And for all, this includes students speaking other languages,
                    students that are hard of hearing, etc. We are a crowd-sourced platform,
                    where students can help edit subtitles of lectures, put in comments,
                    questions, answers and notes.</p>
                <hr class="my-4">
                <h2 class="m-2 display-5">Course 1</h2>
                <h2 class="m-2 display-5">Course 2</h2>
                <h2 class="m-2 display-5">Course 3</h2>
                <h2 class="m-2 display-5">Course 4</h2>
                <h2 class="m-2 display-5">Course 5</h2>
                <h2 class="m-2 display-5">Course 6</h2>
                <div class="accordion" id="accordionSubject">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                6.004
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionSubject">
                        <div class="card-body">
                            This should be some description about course 6.004. This is taught by Some Professor, MWF11.
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">6.004 Lec 1: Syllabus</h5>
                                        <p class="card-text">The same description as on top of the video's.</p>
                                        <a href="/vidhub/vid/123" class="btn btn-primary">Video</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">6.004 Lec 2: Circuits</h5>
                                        <p class="card-text">The same description as on top of the video's.</p>
                                        <a href="/vidhub/vid/123" class="btn btn-primary">Video</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">6.004 Lec 3: We All Die</h5>
                                        <p class="card-text">The same description as on top of the video's.</p>
                                        <a href="/vidhub/vid/123" class="btn btn-primary">Video</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                6.006
                            </button>
                        </h2>
                    </div>

                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSubject">
                        <div class="card-body">
                            This should be some description about course 6.006. This is taught by Some Professor, MWF11.
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">6.006 Lec 1: Syllabus</h5>
                                        <p class="card-text">The same description as on top of the video's.</p>
                                        <a href="/vidhub/vid/123" class="btn btn-primary">Video</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">6.006 Lec 2: Circuits</h5>
                                        <p class="card-text">The same description as on top of the video's.</p>
                                        <a href="/vidhub/vid/123" class="btn btn-primary">Video</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">6.006 Lec 3: We All Die</h5>
                                        <p class="card-text">The same description as on top of the video's.</p>
                                        <a href="/vidhub/vid/123" class="btn btn-primary">Video</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
