{% load static %}
<!doctype html>
<html lang=en>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <center><img src="{% static "logo.png" %}"></img></center>
                <center><h1 class="m-2 display-4">(CrowdLec)</h1></center>
                <hr class="my-4">
                <p class="m-2 lead">Welcome to LectHub!</p>
                <p class="m-2 lead">Our team is striving to make learning accessible for all.
                    And for all, this includes students speaking other languages,
                    students that are hard of hearing, etc. We are a crowd-sourced platform,
                    where students can help edit subtitles of lectures, put in comments,
                    questions, answers and notes.</p>
                <a class="btn btn-primary m-2" href="#">Learn More</a>
                <hr class="my-4">
                <p class="m-2 lead">Want to help us out? Upload a lecture video!</p>
                <a class="btn btn-primary m-2" href="/vidhub/upload">Upload<a/a>
                <hr class="my-4">
                <p class="m-2 lead">Browse the videos we have!</p>
                <a class="btn btn-primary m-2" href="/vidhub/browse">Browse</a>
            </div>

        </div>
        <!-- end -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
